.projects {
  align-items: center;
}

.projects h2 {
  text-align: center;
  margin-top: 5%;
  text-transform: uppercase;
}
.projects .prjmaindesc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
   

}

.projects .prjmaindesc p {
 width: 82%;
 text-align: center;

}



.projects span {
  color: #5e338b;
}


.parentProjectCont {
  /* background-color: rgb(215, 250, 225); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

}

.parentProjectCont :hover{
  background-image: linear-gradient( #bf0487, #5e338b);
  color: white;
  transition: color 1.1s ease;
}

.childProjectCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* width: 24%; */
  
  margin:18px 12px;
  border-radius: 8px;
  box-shadow: 0 0 8px #5e338b;

}

.childProjectCont * {
  pointer-events: none; 
}

.logoimg{

    width: 40%;
    height: 30%;
}

.description{
  padding: 5%;
  height: 160px; /* Set a fixed height for the description */
  overflow: hidden;
  margin-bottom: 10px;
  text-align: center;

 
}

